

<div class="jumbotron">
    <h2>Azure Sample Code</h2>
    <p class="lead">Using .Net 4.6 and MVC 5. Take a look below at some of the services we use in these examples.</p>
</div>

<div class="row">

    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Content/images/azure/azure_app_service.png" alt="Azure App Service" width="64">
            <div class="caption">
                <h3 class="text-center">App Service</h3>
                <p>A cloud platform to build powerful web and mobile apps.</p>
                <p><a href="https://azure.microsoft.com/en-us/services/app-service/" target="_blank" class="btn btn-default btn-block" role="button">more info</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Content/images/azure/azure_storage.png" alt="Azure Storage" width="64">
            <div class="caption">
                <h3 class="text-center">Storage</h3>
                <p>Offload the heavy lifting of data center management.</p>
                <p><a href="https://azure.microsoft.com/en-us/services/storage/" target="_blank" class="btn btn-default btn-block" role="button">more info</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Content/images/azure/azure_event_hubs.png" alt="Azure Event Hubs" width="64">
            <div class="caption">
                <h3 class="text-center">Event Hubs</h3>
                <p>Cloud-scale telemetry ingestion from websites, apps, and devices.</p>
                <p><a href="https://azure.microsoft.com/en-us/services/event-hubs/" target="_blank" class="btn btn-default btn-block" role="button">more info</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Content/images/azure/azure_web_jobs.png" alt="Azure WebJobs" width="64">
            <div class="caption">
                <h3 class="text-center">WebJobs</h3>
                <p>Provide an easy way for you to run services or background tasks.</p>
                <p><a href="https://azure.microsoft.com/en-us/documentation/articles/app-service-webjobs-readme/" target="_blank" class="btn btn-default btn-block" role="button">more info</a></p>
            </div>
        </div>
    </div>

</div>